.articles-type-title {
  position: fixed;
  top: 78px;
  font-size: 3rem;
  display: block;
  padding: 10px;
  width: calc(35% - 25px);
  background-color: #fff;
  text-align: left;
  box-shadow: 1px 1px 2px rgba(0,0,0,.5) , -1px -1px 2px rgba(100,100,100,.5);
}

.placeholder { 
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
}

.bottom-line {
  height: 0.5px;
  background-color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.get-full-article {
  display: block;
  margin-top: 10px; 
  text-align: right;
  font-size: 1.5rem;
}

.article-create {
  position: absolute;
  right: 10px; 
  top: 50%;
  font-size: 2rem;
  transform: translateY(-50%);
}

.article-create:hover {
  color: #ccc;
}