.body-menu-wrapper {
  height: 100%;
}

.blog-setting-body__left {
  position: relative;
  border-top: 5px #ccc solid; 
  border-bottom: 5px #ccc solid;
  height: calc(100% - 60px);
  top: 60px;
  z-index: 500;
  width: 15%;
}

.left-placeholder {
  position: absolute; 
  top: 0;
  left: 0;
  bottom: 0; 
  border-right: 5px solid #ccc;  
  background: #545C64;
  opacity: 0.5;
}

.side-menu-wrapper {   
  height: 100%;
  background: #545C64;
}

.blog-setting-body__center {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 85%;
  border: 5px solid #ccc; 
  background: #545C64;
  opacity: 0.5;
  padding: 40px;
}

.center-display {}