.body-menu-wrapper {
  height: 100%;
  display: flex;
}

.blog-setting-body__left { 
  border-top: 5px #ccc solid; 
  border-bottom: 5px #ccc solid; 
  /* z-index: 500; */
  width: 15%;
}

.left-placeholder {
  position: absolute; 
  top: 0;
  left: 0;
  bottom: 0; 
  border-right: 5px solid #ccc;  
  background: #545C64;
  opacity: 0.5;
}

.side-menu-wrapper {   
  height: 100%;
  background: #545C64;
}

.blog-setting-body__center {   
  width: 85%;
  border: 5px solid #ccc; 
  background: #545C64;
  /* opacity: 0.5; */
  padding: 40px;
}

.center-display {}