.nav-header-wrapper {
  position: relative;
  height: 70px;
}

/* main header */
.main-header-content { 
  text-align: center;
  padding: 15px 15%;
  font-size: 3rem;
  z-index: 1000;
}

.header-title-wrapper {
  line-height: 40px;
  text-align: left;
}

.header-btn-wrapper {
  float: right;
  text-align: right;
} 

.header-btn-wrapper > a {
  display: inline-block;
  max-width: 100%;
}

.header-btn-wrapper button {
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-btn {
  max-width: 100%;
}

.header__nowrap {
  white-space: nowrap; 
} 

.home-title {
  color: #fff;
} 

/* sub header */
.sub-header-content {    
  background-color: #545c64; 
  padding: 0 15%;
  cursor: pointer;
  z-index: 999; 
}

.sub-header-item {
  font-size: 2rem;
} 

.sub-title {
  line-height: 60px;
  font-size: 3rem;
  color: #fff;
}

.show-auto {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  opacity: 0.5;
  height: 60px;
  width: 10px;
  cursor: pointer;
}

.header-dropdown-text__other {
  font-size: 1.7rem;
  color: #fff;
  margin: 0 16px;
}

.dropdown-wrapper {
  position: absolute;
  right: 0;
}

.dropdown-item {
  color-interpolation-filters: #000;
}